<div class="modal fade" id="modalBdev" tabindex="-1" role="dialog" aria-labelledby="modalBdevTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        <!-- Image -->
        <div class="text-center">
          <img src="{{webRoot}}/assets/img/bd/BackingDev_EarlyAccess.jpg" alt="..." class="img-fluid mb-3" style="width: 200px;">
        </div>

        <!-- Heading -->
        <h2 class="fw-bold text-center mb-1" id="modalBdevTitle">
					Early Access
        </h2>

        <!-- Text -->
        <p id="EarlyAccessBdevText" class="fs-lg text-center text-muted mb-6 mb-md-8">
          Estás a un clic de convertirte en un BDev. Apúntante a la lista de suscripción. Pronto abriremos las puertas de la plataforma que usarás para escalar tus conocimientos y habilidades.         </p>

        <!-- Form -->
        <form id="BdevForm" >
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- First name -->
              <div class="form-floating">
                <input type="text" class="form-control form-control-flush" id="BdevFirstNameModal" placeholder="First name">
                <label for="BdevFirstNameModal">Nombre</label>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Last name -->
              <div class="form-floating">
                <input type="text" class="form-control form-control-flush" id="BdevLastNameModal" placeholder="Last name">
                <label for="BdevLastNameModal">Apellido</label>
              </div>

            </div>
          </div>


          <div class="row">
            <div class="col-12">

              <!-- Email -->
              <div class="form-floating">
                <input type="email" class="form-control form-control-flush" id="BdevEmailModal" placeholder="Email">
                <label for="registrationEmailModalBdev">Email</label>
              </div>

            </div>

          </div>
          
          <div class="row">
            <div class="col-12">

              <!-- Submit -->
              <button id="BdevButtonSub" class="btn w-100 btn-success mt-3 lift">
                Tene tu Early access
              </button>

            </div>
          </div>
        </form>


        <!-- success -->
      <div id="BdevSuccess" style="display: none;" >
          <p class="fs-lg text-center text-muted mb-6 mb-md-8">
            ¡Ya eres parte de la comunidad IT de BakingDevs! Pronto te contaremos todo para que empieces a cumplir tus objetivos. Quédate atento a tu casilla de Spam por si agarramos el camino equivocado cuando queramos ponernos en contacto contigo 😉.
          </p>

          <div class="row">
            <div class="col-12">
          <button class="btn w-100 btn-success mt-3 lift" data-bs-dismiss="modal" aria-label="Close">
            Cerrar
          </button>
          </div>
          </div>
      </div>

      </div>
    </div>
  </div>
</div>



