<div class="modal fade" id="modalBhire" tabindex="-1" role="dialog" aria-labelledby="modalBhireTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        <!-- Image -->
        <div class="text-center">
          <img src="{{webRoot}}/assets/img/bd/BackingDev_EarlyAccess.jpg" alt="..." class="img-fluid mb-3" style="width: 200px;">
        </div>

        <!-- Heading -->
        <h2 class="fw-bold text-center mb-1" id="modalBhireTitle">
					Early Access
        </h2>

        <!-- Text -->
        <p id="EarlyAccessBhireText" class="fs-lg text-center text-muted mb-6 mb-md-8">
					Compárteme tus datos y te daremos un lugar en el early access de la plataforma. ¡Hazlo pronto! Tenemos cupos limitados          <!-- Form -->
        <form id="BhireForm" >
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- First name -->
              <div class="form-floating">
                <input type="text" class="form-control form-control-flush" id="BhireFirstNameModal" placeholder="First name">
                <label for="BhireFirstNameModal">Nombre</label>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Last name -->
              <div class="form-floating">
                <input type="text" class="form-control form-control-flush" id="BhireLastNameModal" placeholder="Last name">
                <label for="BhireLastNameModal">Apellido</label>
              </div>

            </div>
          </div>


          <div class="row">
            <div class="col-12">

              <!-- Email -->
              <div class="form-floating">
                <input type="email" class="form-control form-control-flush" id="BhireEmailModal" placeholder="Email">
                <label for="registrationEmailModalBhire">Email</label>
              </div>

            </div>

          </div>
          
          <div class="row">
            <div class="col-12">

              <!-- Submit -->
              <button id="BhireButtonSub" class="btn w-100 btn-success mt-3 lift">
                Tene tu Early access
              </button>

            </div>
          </div>
        </form>


        <!-- success -->
      <div id="BhireSuccess" style="display: none;" >
          <p class="fs-lg text-center text-muted mb-6 mb-md-8">

						Ya estas en nuestra lista de espera, apenas abramos acceso te estaremos contactando. 

					</p>

          <div class="row">
            <div class="col-12">
          <button class="btn w-100 btn-success mt-3 lift" data-bs-dismiss="modal" aria-label="Close">
            Cerrar
          </button>
          </div>
          </div>
      </div>

      </div>
    </div>
  </div>
</div>



